bumpversion==0.5.3
coverage==5.0.3
pip==20.0.2
factory-boy==2.12
flake8==3.7.9
Click===7.0
pytest==5.3.4
pytest-runner==5.1
tqdm==4.42.0
pydicom==1.4.1
tqdm==4.32.1
Sphinx==2.3.1
sphinx-autodoc-typehints==1.10.3
sphinx_rtd_theme==0.4.2
tox==3.14.3
twine==3.1.1
watchdog==0.9.0
wheel==0.33.4
fileselection==0.3.2
tabulate==0.8.6